
{{>head}}

{{>navbar}}

    <div class="row">
        <div class="col-8">
            <p>Hola mundo</p>
        </div>
        <div class="col-4">
            <img src="img/capitan.png" class="img-thumbnail" alt="">
        </div>

    </div>
{{>footer}}

